@CHARSET "UTF-8";

.olImageLoadError {
	display: none !important;
}

.toggle-legend.shown.ol-control {
	background-color: transparent;
}

.toggle-legend.shown.ol-control:hover {
	background-color: transparent;
}

.toggle-legend {
	position: absolute;
	top: 3.5em;
	right: 0.5em;
	text-align: left;
}

.toggle-legend .panel {
	padding: 0 1em 0 0;
	margin: 0;
	border: 4px solid #eee;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
	max-height: 100%;
	overflow-y: auto;
}

.toggle-legend.shown .panel {
	display: block;
	font-family: monospace;
}

.toggle-legend.shown button {
	display: none;
}

.toggle-legend ul {
	padding-left: 1em;
	list-style: none;
}

.toggle-legend ul li {
	font-size: xx-large;
}

.toggle-legend li.layer {
	display: table;
}

.toggle-legend li.layer label, .toggle-legend li.layer input {
	display: table-cell;
	vertical-align: sub;
}

.toggle-legend input {
	margin: 4px;
}

.toggle-legend.touch ::-webkit-scrollbar {
	width: 4px;
}

.toggle-legend.touch ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.toggle-legend.touch ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Legend Button */
.toggle-legend {
	top: 40px;
	right: .5em;
}

.ol-touch .toggle-legend {
	top: 80px;
}

#mapStyleList {
	display: block;
	color: #fff;
	font-size: 1.14em;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 1.375em;
	width: 1.375em;
	background-color: rgba(0, 60, 136, .5);
	border: none;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0.5px;
	padding-left: 5.8px;
	padding-right: 5.5px;
	margin: 1px;
    list-style-type: none;
}

#mapStyleList:hover {
	background-color: rgba(0, 60, 136, 0.75);
}

#mapStyleList::-ms-expand {
	display: none;
}