@CHARSET "UTF-8";
.olImageLoadError {
	display: none !important;
}

#content {
	position: fixed;
	top: 15;
	right: 0;
	width: 400px;
	height: 400px;
	background-color: white;
	box-shadow: 5px 5px 20px grey;
	opacity: 1;
	z-index: 10000;
}

#button_info {
	position: fixed;
	top: 0;
	right: 0;
	opacity: 1;
	z-index: 10000;
}
